.MembersMain{
    justify-content: center;
}
.HeadingMem{
    font-size: 60px;
    justify-content: center;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 10px;
    margin: 10px 10px;
}
.MembersDiv{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:3rem;
}